* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}




.download-icon:hover {
  color: green;
}

.gradient-pp {
  background: linear-gradient(45deg, #f9e070, #edce47);
}

.waves {
  position: relative;
  width: 100%;
  height: 16vh;
  margin-bottom: -30px;
  min-height: 100px;
  max-height: 150px;
}

.waves.no-animation .moving-waves > use {
  animation: none;
}

.wave-rotate {
  transform: rotate(180deg);
}

.moving-waves > use {
  animation: f 40s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.moving-waves > use:first-child {
  animation-delay: -2s;
  animation-duration: 11s;
}

.moving-waves > use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.moving-waves > use:nth-child(3) {
  animation-delay: -6s;
  animation-duration: 15s;
}

.moving-waves > use:nth-child(4) {
  animation-delay: -8s;
  animation-duration: 17s;
}

.moving-waves > use:nth-child(5) {
  animation-delay: -10s;
  animation-duration: 19s;
}

.moving-waves > use:nth-child(6) {
  animation-delay: -12s;
  animation-duration: 21s;
}

@keyframes f {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

